
.login-container {
background-image: url("https://images.unsplash.com/photo-1593642632559-0c6d3fc62b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80");
background-repeat: no-repeat;
background-size: 100% 100%;
width: 100vw;
height: 93vh;
}


.login-form{
justify-content: center;
min-height: 90vh;
/* background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80"); */

}

.button-block{
/* background-color: pink; */

width: 100%;
}
.login-background
{
/* background-color: pink; */
width: 500px;
justify-content: center;
min-height: 30vh;
padding: 100px;

}

.login-logo-name{
    font-family: 'Cinzel', serif;
    font-size: 24px;
    color: black;
  
}
