.maindisplay-container{
    display: flex;
    flex-direction: row;
    /* background-color: black; */
    justify-content: space-around;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    text-align:center;
    padding: 30px;

}

.dash-header{
   align-self: center;

    width: 100%;
    height: 10vh;
    margin: 0%;
    padding: 20px;
    /* border-style: outset; */
    border: 2px;
    border-style: ridge;
}

/* bar graph */
.graph{
    background-color: white;
    width: 80%;
    height: 48vh;
    margin: 2%;
    padding: 20px;
    /* border-style: outset; */
    border: 2px;
    border-radius: 6px;
    border-style: ridge;
    opacity: .9;

}
.chartjs-render-monitor{
    
    padding: 10px;
}


/* Health chart */
.box-1{
    /* background-color: blue; */
    border: 2px;
    border-style: ridge;

    width: 80%; 
    /* width: 47%;  */

    height: 100%;
    padding: 20px;
}

/* remove width completely if adding box 2 */
.health-table{
    height: 100%;
    width: 100%; 
    overflow-y: auto;
    padding: 15px;
}

.bottom-container{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 90%; 
    justify-content: space-around;
    height: 30vh;
}

/* .box-2{
    background-color: blue;
    border: 2px;
    border-style: ridge;
    width: 47%; 
    height: 150%;
    padding: 20px;

} */

.fifth-item{
    /* background-color: yellow; */
    width: 2%;
    height: 100%;
}

.sixth-item{
/* background-color: red; */
width: 50%; 
height: 30vh;
padding: 10px;
}