
.pshow-container{
    /* background-color: pink; */
    display: flex;
    flex: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    justify-content: space-around;
    /* position: relative; */
    width: 90;
    padding: 70px;
    margin: 50px;

    /* left: 10%; */
    /* align-items: flex-start; */

}

.client-info-box{
    /* background-color: lightcoral; */
    width: 42%;
    padding: 10px;
    height: 50;
    margin: 5px;
    border: solid;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 6px;
    opacity: .85;
    /* color: #ff0000; */
    /* align-items: right; */
    
}

.project-info-box{
    /* background-color: lightseagreen; */
    width: 42%;
    padding: 10px;
    height: 50;
    margin: 5px;
    border: solid;
    line-height: 1.42857143;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 6px;
    opacity: .85;
    /* position: relative; */
    /* align-items: left; */

}

.pbuttons-container{
    display: flex;
    /* background-color: orange; */
    width: 100%;
    height: 100px;
    align-items: center;

    /* left: 150px;  */
    /* top: -20px; */
    padding: 30px;
    /* position: relative; */
    justify-content: center;
    justify-content: space-evenly;
}

.pbuttons-container button {
    margin: 100px;
    background-color: #3BBA9C;
    z-index: 1;
}

.red {
    color: #D2222D;
  }
.green {
    color: #007000;
  }
