.mainContainer{
    /* background-color: pink; */
    position: relative;
}

/* ProjectsContainer */
.projects-container{
    display: flex;
    flex: column;
    flex-flow: column wrap;
    justify-content: center;
    position: absolute;
    width: 80%;
    left: 10%;
    align-items: flex-start;

}
.new-project-form{
    /* background-color: orange; */
    width: 75%;
    left: 150px; 
    /* top: -20px; */
    padding: 50px;
    position: relative;

}

.projects-list{
    /* background-color: green; */
    width: 100%
}
/* ProjectsContainer */

