.mainContainer{
    /* background-color: pink; */
    position: relative;
    /* background-image: url("https://images.unsplash.com/photo-1544816736-2920bd9a3a36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
    background-image: url("https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
    background-repeat: repeat-y; */
}

/* ProjectsContainer */
.projects-container{
    display: flex;
    flex: column;
    flex-flow: column wrap;
    justify-content: center;
    position: absolute;
    width: 80%;
    left: 10%;
    align-items: flex-start;

}
.new-project-form{
    /* background-color: orange; */
    width: 75%;
    left: 150px; 
    /* top: -20px; */
    padding: 50px;
    /* position: relative; */

}

.projects-list{
    /* background-color: green; */
    width: 100%
}

.logo {
    height: 50px;
    width: 50px;
  }

/* ProjectsContainer */

